petapoco/obj/petapoco.csproj.nuget.cache
petapoco/obj/petapoco.csproj.nuget.g.props
petapoco/obj/petapoco.csproj.nuget.g.targets
petapoco/obj/project.assets.json
petapoco/obj/Debug/netstandard2.0/petapoco.AssemblyInfo.cs
petapoco/obj/Debug/netstandard2.0/petapoco.AssemblyInfoInputs.cache
petapoco/obj/Debug/netstandard2.0/petapoco.csproj.CoreCompileInputs.cache
petapoco/bin/Debug/netstandard2.0/petapoco.dll
petapoco/bin/Debug/netstandard2.0/petapoco.pdb
petapoco/bin/Debug/netstandard2.0/petapoco.deps.json
petapoco/obj/Debug/netstandard2.0/petapoco.dll
petapoco/obj/Debug/netstandard2.0/petapoco.pdb
petapoco/obj/Debug/netstandard2.0/petapoco.csproj.FileListAbsolute.txt
